sentence-input {
  border: 1px solid #eee;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.05);
  .symbol {
    margin: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #eee;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background: red;
    }
    img {
      width: 5rem;
      height: 5rem;
      display: block;
      border-radius: 4px;
      overflow: hidden;
    }
    span {
      display: block;
      text-align: center;
      padding-top: 5px;
    }
  }
}
