<ion-header>

  <ion-navbar>
    <ion-title>Adding new Symbol</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-item>
          <ion-input type="text" placeholder="Search for Symbols" [value]="searchText" [formControl]="searchTextControl"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
          <button ion-button color="primary" block>Add</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-4 col-sm-3 col-md-2 col-lg-3 col-xl-3
        *ngFor="let symbol of searchCollection;" (click)="addSymbol(symbol)">
        <div class="symbol">
          <img src="{{ symbol.picture.image_url }}" />
          <span>{{ symbol.name }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
